@use 'mixins';
@use 'colors';

@media (max-width: 1224px) {
  .container {
    max-width: 100%;
    padding: 0 57px;
  }

  .header__nav-list {
    gap: 30px;
  }
}

@media (max-width: 1024px) {
  .backgroundWrapper {
    background:
      linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.06) 48.44%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url('../images/medium-hero-bg.jpg') no-repeat center/cover lightgray;
  }

  .container {
    padding: 0 57px;
  }

  .header__nav-list {
    gap: 30px !important;
  }

  .hero__subtitle {
    max-width: 442px !important;
  }
  .tour-form__form {
    width: 918px;
  }

  .tour-form__wrapper {
    padding: 60px;
  }

  .tour-form__fields {
    margin-bottom: 35px;
    column-gap: 20px !important;
  }

  .tour-form__radio {
    padding: 0;
  }

  .tour-form__input {
    min-width: 390px;
  }
}

@media (max-width: 940px) {
  .tour-form__fields {
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-width: 0;
  }

  .tour-form__form {
    width: auto;
  }
}

@media (max-width: 920px) {
  .container {
    padding: 0 40px;
  }

  .header__nav-list {
    gap: 20px !important;
  }

  .hero__title {
    font-size: 72px;
  }
}

//@media (max-width: 844px) {
//  .container {
//    padding: 0 20px;
//  }
//
//  .header__nav {
//    display: none;
//  }
//
//  .hero__title {
//    font-size: 72px;
//  }
//
//  .header__phone {
//    font-size: 16px;
//  }
//}
//
//@media (max-width: 580px) {
//  .container {
//    padding: 0 20px;
//  }
//
//  .header__logo {
//    max-width: 133px;
//    object-fit: cover;
//  }
//
//  .hero {
//    gap: 40px !important;
//    margin-top: 52px !important;
//    padding-bottom: 52px;
//  }
//
//  .hero__title {
//    font-size: 34px;
//    max-width: 360px;
//  }
//
//  .hero__subtitle {
//    font-size: 16px;
//    max-width: 310px !important;
//  }
//
//  .header__phone {
//    font-size: 16px !important;
//  }
//
//  .header__nav {
//    display: none;
//  }
//}
//
//@media (max-width: 360px) {
//  .header {
//    padding: 32px 0px !important;
//  }
//}
//
//@media (max-width: 1245px) {
//  .tour__card-wrapper {
//    grid-template-columns: repeat(2, 1fr) !important ;
//    gap: 18px;
//  }
//
//  .tour__card {
//    width: 450px;
//  }
//
//  .tour__card-header {
//    width: 100% !important;
//  }
//
//  .tour__card-title {
//    max-width: 350px;
//    width: 100% !important;
//  }
//}
//
//@media (max-width: 940px) {
//  .tour {
//    padding-top: 75px;
//  }
//  .tour__list {
//    flex-wrap: wrap;
//    gap: 15px;
//  }
//
//  .tour__card {
//    width: 318px;
//    height: 318px;
//    border-radius: 20px;
//  }
//
//  .tour__card-header {
//    padding: 25px;
//  }
//
//  .tour__card-footer {
//    padding: 25px;
//    gap: 13px;
//  }
//
//  .tour__card-title {
//    @include mixins.h3-mobile;
//    color: colors.$white;
//  }
//
//  .tour__card-price {
//    @include mixins.p-small-mobile;
//    color: colors.$white;
//  }
//
//  .tour__card-btn {
//    padding: 5px 15px;
//  }
//
//  .tour__card-btn-content {
//    @include mixins.p-big-mobile;
//    color: colors.$white;
//  }
//}

//@media (max-width: 680px) {
//  .container {
//    padding: 0 21px;
//  }
//
//  .tour__card-wrapper {
//    grid-template-columns: repeat(1, 1fr) !important ;
//    gap: 18px;
//  }
//
//  .tour__header-block {
//    margin-bottom: 50px;
//    gap: 30px !important;
//  }
//
//  .tour-form__title {
//    @include mixins.h2-mobile;
//  }
//  .tour-form__subtitle {
//    @include mixins.p-normal-mobile;
//    max-width: 318px;
//    color: colors.$gray300;
//  }
//
//  .tour-form__fields {
//    gap: 31px;
//    margin-bottom: 31px;
//  }
//
//  .tour-form__checkbox {
//    display: flex;
//    flex-direction: column;
//    align-items: flex-start;
//  }
//
//  .tour-form__checkbox-text {
//    max-width: 248px;
//  }
//
//  .tour-form__wrapper {
//    padding: 20px;
//    border-radius: 30px;
//    background: red;
//    width: 318px;
//  }
//
//  .tour-form__comment-block {
//    margin: 0;
//    padding: 0;
//  }
//
//  .tour-form__label {
//    @include mixins.p-normal-mobile;
//  }
//
//  .tour-form__textarea {
//    height: 132px !important;
//  }
//
//  .tour-form__radio {
//    margin: 30px 0px;
//  }
//
//  .tour-form__input {
//    @include mixins.p-normal-mobile;
//    padding: 10px;
//    min-width: 0;
//    max-width: 278px;
//    height: 43px;
//    &::placeholder {
//      @include mixins.p-normal-mobile;
//      color: colors.$gray300;
//    }
//  }
//
//  .tour-form__button {
//    padding: 12px 29px;
//    @include mixins.p-normal-mobile;
//  }
//
//  .tour-form__radio-name {
//    @include mixins.p-normal-mobile;
//  }
//  .tour-form__checkbox-text {
//    @include mixins.p-normal-mobile;
//  }
//
//  .tour-form__radio-text {
//    @include mixins.p-normal-mobile;
//  }
//
//  .tour-form__radio-input {
//    width: 20px;
//    height: 20px;
//  }
//
//  .tour-form__checkbox-label {
//    display: flex;
//    align-items: start;
//    gap: 10px;
//  }
//  .tour-form__checkbox-input {
//    width: 20px !important;
//    height: 20px !important;
//  }
//
//  .tour-form__button-cyan-btn {
//    color: colors.$white;
//  }
//
//  .tour-form__button-block {
//    margin-bottom: 20px;
//  }
//
//  .tour__title {
//    @include mixins.h2-mobile;
//    letter-spacing: 0px;
//  }
//
//  .tour__list-link {
//    @include mixins.p-big-mobile;
//  }
//
//  .tour__list {
//    display: flex;
//    justify-content: center;
//    flex-wrap: wrap;
//    gap: 10px !important;
//  }
//}
//
//@media (max-width: 680px) {
//  .tour__title {
//    @include mixins.h2-mobile;
//    letter-spacing: 0.9px;
//  }
//
//  .tour__card-header {
//    padding: 27px 25px 0px 25px;
//  }
//
//  .tour__card-footer {
//    padding: 24px;
//  }
//
//  .tour__card-title {
//    letter-spacing: 1px;
//  }
//  .tour__header-block {
//    margin-bottom: 45px;
//    gap: 30px !important;
//  }
//
//  .tour__card-btn {
//    padding: 0;
//  }
//}

@media (max-width: 1245px) {
  .tour__card-wrapper {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 18px;
  }

  .tour__card {
    width: 450px;
  }

  .tour__card-header {
    width: 100% !important;
  }

  .tour__card-title {
    max-width: 350px;
    width: 100% !important;
  }

  .feedback__card-wrapper {
    height: 841px;
    gap: 18px;
  }
  .feedback__card {
    max-height: 841px;
    width: 450px;
  }

  .feedback__card-tour {
    letter-spacing: 0.4px;
  }
  .images {
    align-items: center;
  }
}
@media (max-width: 1245px) and (min-width: 1024px) {
  .pictures .images__row {
    gap: 20px;
  }

  .pictures .images__row:nth-child(1) {
    grid-template-columns: repeat(3, 314px);

    .images__item:nth-child(2) {
      display: none;
    }
  }

  .pictures .images__row:nth-child(2) {
    grid-template-columns: repeat(4, 231px);

    .images__item:nth-child(3) {
      display: none;
    }
  }

  .pictures .images__row:nth-child(3) {
    grid-template-columns: repeat(3, 314px);

    .images__item:nth-child(4) {
      display: none;
    }
  }
}

@media (max-width: 1023px) {
  .pictures {
    .images__row {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 16px;
    }
  }
}

@media (max-width: 940px) {
  .tour {
    padding-top: 75px;
  }

  .tour__list {
    flex-wrap: wrap;
    gap: 15px;
  }

  .tour__card {
    width: 318px;
    height: 318px;
    border-radius: 20px;
  }

  .tour__card-header,
  .tour__card-footer {
    padding: 25px;
  }

  .tour__card-footer {
    gap: 13px;
  }

  .tour__card-title {
    @include mixins.h3-mobile;
    color: colors.$white;
  }

  .tour__card-price {
    @include mixins.p-small-mobile;
    color: colors.$white;
  }

  .tour__card-btn {
    padding: 5px 15px;
  }

  .tour__card-btn-content {
    @include mixins.p-big-mobile;
    color: colors.$white;
  }

  .feedback {
    padding-top: 75px;
  }
  .feedback__header {
    gap: 20px;
    margin-bottom: 50px;
    max-width: 360px;
  }

  .feedback__header-title {
    font-size: 59px;
    letter-spacing: 0.7px;
  }
  .feedback__header-subtitle {
    font-size: 20px;
  }
  .feedback__card-content {
    padding: 20px;
  }
  .feedback__card {
    border-radius: 20px;
  }

  .feedback__content {
    padding-bottom: 75px;
  }

  .feedback__card-wrapper {
    flex-direction: column;
  }

  .feedback__card-text {
    @include mixins.p-big-mobile;
    padding-bottom: 52px;
  }

  .feedback__card-username {
    @include mixins.h3-mobile;
  }
  .feedback__card-tour {
    @include mixins.p-small-mobile;
    color: colors.$gray300;
  }

  .feedback__card-info {
    align-items: center;
  }

  .feedback__card-wrapper {
    flex-direction: column;
    height: auto;
    max-height: none;
    gap: 18px;
  }
  .feedback__card-tour {
    letter-spacing: -0.1px;
  }

  .feedback__card:first-child {
    max-height: 408px;
  }

  .feedback__card {
    height: auto;
    width: 318px;
    max-height: 592px;
  }

  .pictures .images__row {
    gap: 20px;
  }
}

@media (max-width: 940px) and (min-width: 360px) {
  .pictures {
    padding-bottom: 75px;
  }
  .images {
    gap: 18px !important;
  }

  .images__row:nth-child(2),
  .images__row:nth-child(3) {
    gap: 10px !important;
    padding: 0 21px !important;
  }
  .images__row:nth-child(1) {
    gap: 18px !important;
    padding: 0 21px !important;
  }

  .images__item {
    height: 110px !important;
    border-radius: 20px !important;
  }

  .pictures__header {
    margin-bottom: 50px;
    gap: 20px;
  }

  .pictures__title {
    @include mixins.h2-mobile;
    max-width: 318px;
  }

  .pictures__subtitle {
    @include mixins.p-normal-mobile;
    color: colors.$gray300;
    max-width: 318px;
  }

  .pictures .images__row:nth-child(1) {
    grid-template-columns: repeat(2, 150px);

    .images__item:nth-child(2),
    .images__item:nth-child(3) {
      display: none;
    }
  }

  .pictures .images__row:nth-child(2) {
    grid-template-columns: repeat(3, 99px);

    .images__item:nth-child(2),
    .images__item:nth-child(3) {
      display: none;
    }
  }

  .pictures .images__row:nth-child(3) {
    grid-template-columns: repeat(2, 150px);

    .images__item:nth-child(4),
    .images__item:nth-child(3) {
      display: none;
    }
  }
}
@media (max-width: 844px) {
  .container {
    padding: 0 20px;
  }

  .header__nav {
    display: none;
  }

  .hero__title {
    font-size: 72px;
  }

  .header__phone {
    font-size: 16px;
  }
}

@media (max-width: 580px) {
  .container {
    padding: 0 20px;
  }

  .header__logo {
    max-width: 133px;
    object-fit: cover;
  }

  .hero {
    gap: 40px !important;
    margin-top: 52px !important;
    padding-bottom: 52px;
  }

  .hero__title {
    font-size: 34px;
    max-width: 360px;
  }

  .hero__subtitle {
    font-size: 16px;
    max-width: 310px !important;
  }

  .header__phone {
    font-size: 16px !important;
  }

  .header__nav {
    display: none;
  }
  .feedback__header-title {
    @include mixins.h2-mobile;
  }
  .feedback__header-subtitle {
    @include mixins.p-normal-mobile;
    color: colors.$gray300;
  }
}

@media (max-width: 360px) {
  .header {
    padding: 32px 0 !important;
  }
}

@media (max-width: 680px) {
  .container {
    padding: 0 21px;
  }

  .tour__header-block {
    margin-bottom: 45px;
    gap: 30px !important;
  }

  .tour__card-wrapper {
    grid-template-columns: 1fr !important;
    gap: 18px;
  }

  .tour__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px !important;
  }

  .tour__title {
    @include mixins.h2-mobile;
    letter-spacing: 0.9px;
  }

  .tour__list-link {
    @include mixins.p-big-mobile;
  }

  .tour-form__title {
    @include mixins.h2-mobile;
  }

  .tour-form__subtitle {
    @include mixins.p-normal-mobile;
    max-width: 318px;
    color: colors.$gray300;
  }

  .tour-form__label,
  .tour-form__radio-name,
  .tour-form__radio-text,
  .tour-form__button,
  .tour-form__checkbox-text {
    @include mixins.p-normal-mobile;
  }

  .tour-form {
    padding-top: 75px;
  }

  .tour-form__content {
    padding-bottom: 0px;
  }

  .tour-form__header {
    padding-bottom: 40px;
  }

  .tour-form__wrapper {
    width: 318px;
    padding: 20px;
    border-radius: 30px;
  }

  .tour-form__fields {
    gap: 31px;
    margin-bottom: 31px;
  }

  .tour-form__comment-block {
    margin: 0;
    padding: 0;
  }

  .tour-form__input {
    @include mixins.p-normal-mobile;
    padding: 10px;
    max-width: 278px;
    height: 43px;
    min-width: 0;

    &::placeholder {
      @include mixins.p-normal-mobile;
      color: colors.$gray300;
    }
  }

  .tour-form__textarea {
    height: 132px !important;
  }
  .tour-form__radio {
    margin: 30px 0;
  }

  .tour-form__radio-input {
    width: 20px;
    height: 20px;
  }

  .tour-form__checkbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .tour-form__checkbox-label {
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }

  .tour-form__checkbox-input {
    width: 20px !important;
    height: 20px !important;
  }

  .tour-form__checkbox-text {
    max-width: 248px;
  }

  .tour-form__button {
    @include mixins.p-normal-mobile;
    padding: 12px 29px;
  }

  .tour-form__button-cyan-btn {
    color: colors.$white;
  }

  .tour-form__button-block {
    margin-bottom: 20px;
  }

  .tour__card-btn {
    padding: 0;
  }

  .tour__card-header {
    padding: 27px 25px 0;
  }

  .tour__card-footer {
    padding: 24px;
  }

  .tour__card-title {
    letter-spacing: 1px;
  }

  .tour-form__checkbox {
    margin-bottom: 30px;
  }

  .tour-form__button-block {
    gap: 10px;
    margin-bottom: 20px;
  }

  .tour-form__button {
    max-width: 134px;
  }
}
