@use 'mixins';
@use 'colors';
@use 'reset';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.header-fixed {
  background-color: colors.$beige200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  transform: translateY(-100%);
  animation: headerAnimation 0.5s ease forwards;

  a {
    color: colors.$black !important;
    transition: color 0.3s ease;
  }

  svg path {
    fill: colors.$black !important;
    transition: fill 0.3s ease;
  }
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.backgroundWrapper {
  background-size: cover;
  background:
    linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url('../images/hero-background.jpg') no-repeat center/cover lightgray;

  .header {
    padding: 28px 0px;
    &__logo {
      height: 30px;
      width: 181px;
    }
    &__content {
      @include mixins.flex-center-between;
    }
    &__phone {
      @include mixins.p-normal;
      text-decoration: none;
      color: colors.$white;
    }

    &__nav {
      &-list {
        @include mixins.flex-center-between;
        gap: 50px;
        li {
          .header__link {
            @include mixins.p-normal;
            text-decoration: none;
            color: colors.$white;

            &:after {
              background-color: white;
              display: block;
              content: '';
              height: 1.4px;
              width: 0%;
              -webkit-transition: width 0.1s ease-in-out;
              transition: width 0.3s ease-in-out;
            }

            &:hover:after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.hero {
  position: relative;
  @include mixins.flex-column;
  gap: 50px;
  transform: translateX(0%);
  text-align: center;
  margin: 118px auto 0;
  padding-bottom: 118px;

  &__title {
    @include mixins.h1-pc;
    max-width: 768px;
    letter-spacing: 2.2px;
    color: colors.$white;
  }

  &__subtitle {
    @include mixins.p-normal;
    max-width: 562px;
    color: colors.$white;
  }
  &__btn {
    @include mixins.p-small;
    border-radius: 10px;
    padding: 5px 20px;
    background-color: colors.$white;
    cursor: pointer;
    border: 1px solid colors.$white;
    transition:
      background 0.25s ease,
      color 0.25s ease;

    &:hover {
      background-color: colors.$orange200;
      color: colors.$white;
      border: 1px solid colors.$orange200;
    }

    &:active {
      background-color: colors.$orange100;
      color: colors.$black;
      border: 1px solid colors.$orange100;
    }
  }
}

.tour {
  background-color: colors.$beige100;
  padding-top: 135px;

  &__content {
    @include mixins.flex-column;
    align-items: center;
  }

  &__header-block {
    @include mixins.flex-column;
    gap: 35px;
    margin-bottom: 105px;
  }

  &__title {
    @include mixins.h2-pc;
  }

  &__list {
    @include mixins.flex-center-between;
    gap: 30px;
  }

  &__list-link {
    text-decoration: none;
    @include mixins.p-big;

    &:after {
      background-color: colors.$black;
      display: block;
      content: '';
      height: 2px;
      width: 0%;
      -webkit-transition: width 0.1s ease-in-out;
      transition: width 0.3s ease-in-out;
    }

    &:hover:after {
      width: 100%;
    }
  }
  &__list-link-active {
    text-decoration: none;
    @include mixins.p-big;
    position: relative;
    color: colors.$orange200;

    &:after {
      content: '';
      display: block;
      height: 2px;
      width: 100%;
      background-color: colors.$orange200;
      position: absolute;
      bottom: -2px;
      left: 0;
      transition: width 0.3s ease-in-out;
    }
  }

  &__card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
  }

  &__card {
    position: relative;
    @include mixins.flex-column;
    justify-content: space-between;
    align-items: start;
    height: 100vh;
    max-height: 531px;
    border-radius: 50px;
    overflow: hidden;
    background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    );
    z-index: 1;

    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 300ms ease;
      transform: scale(1);
      z-index: 0;
    }

    &-overlay {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.06) 48.44%,
        rgba(0, 0, 0, 0.5) 100%
      );
      z-index: 1;
      pointer-events: none;
    }

    &:hover &-bg {
      transform: scale(1.2);
    }

    &-header {
      position: relative;
      @include mixins.flex-column;
      align-items: start;
      gap: 16px;
      padding: 50px;
      width: 370px;
      z-index: 2;
    }
    &-title {
      @include mixins.h3-pc;
      color: colors.$white;
      max-width: 240px;
    }
    &-price {
      @include mixins.p-small;
      color: colors.$white;
    }

    &-footer {
      position: relative;
      padding: 50px;
      z-index: 2;
    }
  }
  &__card-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    gap: 15px;
    padding: 7px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition:
      width 0.3s ease-in-out,
      background-color 0.3s ease-in-out;

    &:hover {
      background-color: colors.$green400;
    }

    &-content {
      @include mixins.p-big;
      color: colors.$white;
    }
    &:active {
      background: colors.$orange200;
    }
  }
}

.tour-form {
  background-color: colors.$beige100;
  padding-top: 135px;

  &__content {
    @include mixins.flex-column;
  }

  &__header {
    @include mixins.flex-column;
    gap: 30px;
    padding-bottom: 100px;
  }

  &__subtitle {
    @include mixins.p-normal;
    color: colors.$gray300;
    text-align: center;
    width: 400px;
  }

  &__title {
    @include mixins.h2-pc;
  }

  &__form {
    background-color: colors.$white;
    border-radius: 50px;
    width: 100%;
  }

  &__wrapper {
    padding: 70px;
    border-radius: 50px;
  }

  &__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    column-gap: 33px;
  }

  &__field {
    @include mixins.flex-column;
    position: relative;
    align-items: start;
    gap: 8px;
    width: 100%;
  }

  &__label {
    @include mixins.p-normal;
  }

  &__select {
    appearance: none;
    padding-right: 48px;
  }

  &__field:has(.tour-form__select)::after {
    content: '';
    position: absolute;
    right: 21px;
    top: 58%;
    width: 26px;
    height: 26px;
    pointer-events: none;
    background: url(/assets/images/svg/select-arrow.svg) no-repeat center /
      contain;
  }
  &__input {
    @include mixins.p-normal;
    background-color: colors.$beige100;
    padding: 20px;
    border-radius: 10px;
    border: none;
    width: 100%;

    &::placeholder {
      @include mixins.p-normal;
      color: colors.$gray300;
    }
  }

  &__select-item {
    background-color: colors.$beige200;
  }

  &__textarea {
    max-height: 152px;
  }

  &__comment-block {
    margin-top: 33px;
  }

  &__radio {
    @include mixins.flex-column;
    align-items: start;
    gap: 8px;
    margin: 33px 0px;
    &-name {
      @include mixins.p-normal;
    }

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 31px;
    }

    &-option {
      display: flex;
      align-items: start;
      justify-content: center;
      gap: 11px;
    }

    &-text {
      @include mixins.p-normal;
    }
  }

  &__radio-input {
    appearance: none;
    width: 26px;
    height: 26px;
    border: 2px solid #aaa;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: border-color 0.2s ease;
    margin: 0;

    &:checked {
      border-color: colors.$black;
    }

    &:checked::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 12px;
      height: 12px;
      background: colors.$black;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__checkbox {
    margin-bottom: 33px;
    &-label {
      display: flex;
      align-items: center;
      gap: 19px;
    }

    &-input {
      appearance: none;
      width: 26px;
      height: 26px;
      border: 2px solid colors.$black;
      border-radius: 6px;
      cursor: pointer;
      margin: 0;
      position: relative;
      display: inline-block;

      &:checked {
        background: colors.$white;
        border-color: colors.$black;
      }

      &:checked::after {
        content: '';
        position: absolute;
        width: 6px;
        height: 12px;
        border-right: 2px solid colors.$black;
        border-bottom: 2px solid colors.$black;
        transform: rotate(45deg);
        top: 4px;
        left: 8px;
      }
    }

    &-text {
      @include mixins.p-small;
      color: colors.$gray300;
      letter-spacing: -0.165px;
    }

    &-link {
      text-decoration: none;
      color: colors.$black;

      &:hover {
        text-decoration: black underline;
      }
    }
  }

  &__button-block {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__button {
    @include mixins.p-normal;
    font-family: Roboto, sans-serif;
    padding: 15px 70px;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    &-cyan-btn {
      background-color: colors.$green400;
      color: colors.$white;

      &:hover {
        background-color: colors.$green300;
      }

      &:active {
        background-color: colors.$green200;
      }
    }

    &-lightgreen-btn {
      background-color: colors.$green100;
      color: colors.$green400;

      &:hover {
        background-color: colors.$gray100;
      }

      &:active {
        background-color: colors.$gray200;
      }
    }
  }
}

.feedback {
  background-color: colors.$beige100;
  padding-top: 135px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 135px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 529px;
    margin-bottom: 100px;
    width: 100%;

    &-title {
      @include mixins.h2-pc;
      text-align: center;
    }

    &-subtitle {
      @include mixins.p-normal;
      text-align: center;
      color: colors.$gray300;
      max-width: 400px;
    }
  }

  &__card-wrapper {
    display: flex;
    align-items: stretch;
    gap: 30px;
    height: 673px;
  }

  &__card {
    width: 100%;
    background-color: colors.$beige200;
    border-radius: 50px;
    height: 100%;
    display: flex;
  }

  &__card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
  }

  &__card-text {
    @include mixins.p-big;
  }

  &__card-info {
    width: 100%;
    @include mixins.flex-center-between;
  }

  &__card-username {
    @include mixins.h3-pc;
    margin-bottom: 8px;
  }

  &__card-tour {
    color: colors.$gray300;
  }

  &__card-user-avatar {
    mix-blend-mode: multiply;
    width: 75px;
    height: 75px;
  }
}

.gallery {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 135px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 100px;

    &-title {
      @include mixins.h2-pc;
      text-align: center;
    }

    &-subtitle {
      @include mixins.p-normal;
      color: colors.$gray300;
      text-align: center;
      width: 418px;
    }
  }

  &__photo-wrapper {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__row {
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

      & > img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 50px;
        display: block;
      }
    }
  }
}

.pictures {
  background-color: colors.$beige100;
  padding-bottom: 135px;

  &__header {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  &__title {
    @include mixins.h2-pc;
    text-align: center;
  }

  &__subtitle {
    @include mixins.p-normal;
    color: colors.$gray300;
    text-align: center;
    width: 400px;
  }

  .images {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__row {
      display: grid;
      gap: 30px;
      &:nth-child(1) {
        grid-template-columns: repeat(4, 1fr);
      }
      &:nth-child(2) {
        grid-template-columns: repeat(5, 1fr);
      }
      &:nth-child(3) {
        grid-template-columns: repeat(4, 1fr);
      }
    }
    &__item {
      width: 100%;
      height: 301px;
      object-fit: cover;
      border-radius: 50px;
    }
  }
}

.history {
  background-color: colors.$beige100;
  padding-bottom: 135px;

  &__header {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  &__title {
    @include mixins.h2-pc;
    text-align: center;
  }

  &__subtitle {
    @include mixins.p-normal;
    color: colors.$gray300;
    text-align: center;
    width: 400px;
  }

  &__card-wrapper {
    @include mixins.flex-column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  &__card {
    position: relative;
    @include mixins.flex-column;
    justify-content: space-between;
    align-items: start;
    height: 100vh;
    border-radius: 50px;
    overflow: hidden;
    z-index: 4;
    width: 100%;
    max-width: 1170px;
    max-height: 567px;
    background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 100%
    );

    &-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0) 0.01%,
        rgba(0, 0, 0, 0.2) 100%
      );
      object-position: center;
      transition: transform 300ms ease;
      transform: scale(1);
      z-index: -99;
    }

    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.2) 100%
      );
      z-index: -1;
      pointer-events: none;
    }
    &:hover &-background {
      transform: scale(1.2);
    }

    &-title {
      @include mixins.h3-pc;
      color: colors.$white;
      margin-bottom: 37px;
    }

    &-subtitle {
      @include mixins.p-normal;
      color: colors.$white;
      margin-bottom: 25px;
      max-width: 554px;
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      gap: 15px;
      padding: 7px 20px;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      transition:
        width 0.3s ease-in-out,
        background-color 0.3s ease-in-out;

      &:hover {
        background-color: colors.$green400;
      }

      &-content {
        @include mixins.p-big;
        color: colors.$white;
      }
      &:active {
        background: colors.$orange200;
      }
    }

    &-bottom-block {
      width: 100%;
      padding: 60px;
      @include mixins.flex-center-between;
    }
  }
  &__card-list-wrapper {
    padding-left: 30px;
  }
  &__card-list {
    list-style-type: disc;
    @include mixins.p-normal;
    color: colors.$white;
  }
  &__card-top-block {
    padding: 60px;
  }
  &__links {
    @include mixins.flex-center-between;
    gap: 35px;
  }
  &__link-item {
    position: relative;
    @include mixins.p-normal;
    text-decoration: none;
    color: colors.$white;

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 0;
      background-color: colors.$white;
      transition:
        width 0.3s ease-in-out,
        background-color 0.3s ease-in-out;
    }

    &:hover:after {
      width: 100%;
    }

    &:active {
      color: colors.$orange200;

      &:after {
        width: 100%;
        background-color: colors.$orange200;
      }
    }
  }
}

.mail {
  background-color: colors.$beige100;
  //padding-top: 135px;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    border-radius: 50px;
    max-width: 370px;
    max-height: 370px;
  }

  &__text-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 371px;
  }

  &__centered-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-bottom: 135px;
  }

  &__title {
    @include mixins.h3-pc;
  }
  &__subtitle {
    @include mixins.p-normal;
    color: colors.$gray300;

    > span {
      color: colors.$black;
    }
  }
}

.footer {
  background-color: colors.$beige200;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
  }

  &__link-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

    > div {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  &__link-logo {
    width: 26px;
    height: 26px;
  }

  &__link-item {
    text-decoration: none;
    @include mixins.p-normal;
    position: relative;

    &:after {
      content: '';
      display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: colors.$black;
      transition:
        width 0.3s ease-in-out,
        background-color 0.3s ease-in-out;
    }

    &:hover:after {
      display: block;
    }

    &:active {
      color: colors.$orange200;

      &:after {
        background-color: colors.$orange200;
      }
    }
  }

  &__text {
    @include mixins.p-normal;
    color: colors.$gray300;
  }
}

@keyframes headerAnimation {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@import 'media';
