@use 'mixins';
@use 'colors';
@use 'reset';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

section {
  padding-top: 135px;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 28px 0;

  &__logo {
    width: 181px;
    height: 30px;
  }

  &__content {
    @include mixins.flex-center-between;
  }

  &__phone {
    text-decoration: none;
    @include mixins.p-normal;
    font-size: clamp(16px, 1.95vw, 20px);
    color: colors.$white;
  }

  &__nav {
    &-list {
      gap: 50px;
      @include mixins.flex-center-between;

      li {
        .header__link {
          text-decoration: none;
          @include mixins.p-normal;
          color: colors.$white;
          @include mixins.customHoverMixin(color);

          &:after {
            display: block;
            width: 0%;
            height: 1.4px;
            content: '';
            background-color: white;
            @include mixins.customHoverMixin(width);
          }

          &:hover:after {
            width: 100%;
          }
        }
      }
    }
  }
}

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: colors.$beige200;
  backdrop-filter: blur(54px);
  transform: translateY(-100%);

  .header__link {
    position: relative;
    @include mixins.customHoverMixin(color);
    color: colors.$black !important;

    &:after {
      display: block;
      width: 0;
      height: 1.4px;
      content: '';
      background: black !important;
      @include mixins.customHoverMixin(width);
    }

    &:hover:after {
      width: 100%;
    }
  }

  .header__phone {
    color: colors.$black !important;
  }
}

.header-show {
  animation: headerShow 0.5s ease forwards;
}

.header-hide {
  animation: headerHide 0.5s ease forwards;
}

.hero {
  position: relative;
  display: flex;
  flex: 1;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-top: 0;
  text-align: center;

  background:
          linear-gradient(
                          360deg,
                          rgba(0, 0, 0, 0.4) 0%,
                          rgba(0, 0, 0, 0.06) 48.44%,
                          rgba(0, 0, 0, 0.5) 100%
          ),
          url('../images/hero-background.jpg') no-repeat center/cover;

  &__title {
    max-width: 768px;
    letter-spacing: 2.2px;
    @include mixins.h1-pc;
    color: colors.$white;
  }

  &__subtitle {
    max-width: 562px;
    @include mixins.p-normal;
    color: colors.$white ;
  }

  &__btn {
    padding: 5px 20px;
    background-color: colors.$white;
    border: 1px solid colors.$white;
    border-radius: 10px;
    @include mixins.p-small;
    @include mixins.customHoverMixin(background-color, 0.25s);
    @include mixins.customHoverMixin(color, 0.25s);

    &:hover {
      background-color: colors.$orange200;
      color: colors.$white;
      border: 1px solid colors.$orange200;
    }

    &:active {
      background-color: colors.$orange100;
      color: colors.$black;
      border: 1px solid colors.$orange100;
    }
  }
}

.find-tour {
  background-color: colors.$beige100;

  &__content {
    align-items: center;
    @include mixins.flex-column;
  }

  &__header-block {
    width: 100%;
    gap: 35px;
    margin-bottom: 105px;
    @include mixins.flex-column;
  }

  &__title {
    @include mixins.h2-pc;
  }

  &__list {
    gap: 30px;
    @include mixins.flex-center-between;
  }

  &__list-link {
    display: inline-flex;
    padding: 0;
    background: none;
    border: none;
    text-decoration: none;
    letter-spacing: -1.1px;
    @include mixins.p-big;
    @include mixins.customHoverMixin(width);

    &:after {
      display: block;
      width: 0%;
      height: 2px;
      content: '';
      background-color: colors.$black;
      @include mixins.customHoverMixin(width);
    }

    &:hover:after {
      width: 100%;
    }
  }
  &__list-link_active {
    position: relative;
    text-decoration: none;
    @include mixins.p-big;
    color: colors.$orange200;

    &:after {
      position: absolute;
      bottom: -2px;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      content: '';
      background-color: colors.$orange200;
      @include mixins.customHoverMixin(width);
    }
  }

  &__card-wrapper {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    width: 100%;
  }

  &__card {
    position: relative;
    z-index: 1;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 100vh;
    max-height: 531px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 50px;

    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1);
      @include mixins.customHoverMixin(transform, 0.3s);
    }

    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      pointer-events: none;
      content: '';
      background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
    }

    &:hover &-bg {
      transform: scale(1.2);
    }

    &-header {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 16px;
      width: 100%;
      padding: 50px;
    }

    &-title {
      max-width: 240px;
      @include mixins.h3-pc;
      color: colors.$white;
    }

    &-price {
      @include mixins.p-small;
      color: colors.$white;
    }

    &-footer {
      position: relative;
      width: 100%;
      padding: 50px;
      z-index: 2;
    }
  }

  &__card-btn {
    position: absolute;
    bottom: 43px;
    left: 30px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 7px 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 50px;
    letter-spacing: -0.7px;
    @include mixins.customHoverMixin(width, 0.3s);
    @include mixins.customHoverMixin(background-color, 0.3s);

    &:hover {
      background-color: colors.$green400;
    }

    &-content {
      @include mixins.p-big;
      color: colors.$white;
    }
    &:active {
      background: colors.$orange200 ;
    }
  }

  &__card:hover &__card-btn {
    background-color: colors.$green400;
  }

  &__card:active &__card-btn {
    background: colors.$orange200 ;
  }
}

.tour-form {
  background-color: colors.$beige100;

  &__content {
    @include mixins.flex-column;
  }

  &__header {
    gap: 30px;
    padding-bottom: 100px;
    @include mixins.flex-column;
  }

  &__title {
    @include mixins.h2-pc;
  }

  &__subtitle {
    width: 400px;
    text-align: center;
    @include mixins.p-normal;
    color: colors.$gray300;
  }

  &__form {
    width: 100%;
    background-color: colors.$white;
    border-radius: 50px;
  }

  &__wrapper {
    padding: 70px;
    border-radius: 50px;
  }

  &__fields {
    display: grid;
    gap: 30px;
    column-gap: 33px;
    grid-template-columns: repeat(2, 1fr);
  }

  &__field {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    width: 100%;
  }

  &__label {
    @include mixins.p-normal;
  }

  &__input {
    width: 100%;
    padding: 20px;
    background-color: colors.$beige100;
    border: 1px solid colors.$beige200;
    border-radius: 10px;
    @include mixins.p-normal;

    &::placeholder {
      @include mixins.p-normal;
      color: colors.$gray300;
    }

    &:hover {
      background-color: colors.$beige200;
    }

    &:focus {
      transform: none;
      outline: none;
      border: 1px solid colors.$gray300;
    }
  }

  &__select {
    appearance: none;
    padding-right: 48px;

    &:invalid {
      color: colors.$gray300 ;
    }
  }

  &__field:has(.tour-form__select)::after {
    position: absolute;
    top: 52%;
    right: 20px;
    width: 26px;
    height: 26px;
    pointer-events: none;
    content: '';
    background: url(/assets/images/svg/select-arrow.svg) no-repeat center / contain;
  }

  &__select-item {
    background-color: colors.$beige200;
  }

  &__textarea {
    min-height: 152px;
    height: 0;
    resize: none;
  }

  &__comment-block {
    margin-top: 30px;
  }

  &__radio {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    margin: 33px 0;

    &-name {
      @include mixins.p-normal;
    }

    &-wrapper {
      display: flex;
      gap: 31px;
      align-items: center;
      justify-content: center;
    }

    &-option {
      display: flex;
      gap: 11px;
      align-items: start;
      justify-content: center;
    }

    &-text {
      @include mixins.p-normal;
    }
  }

  &__radio-input {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 26px;
    margin: 0;
    cursor: pointer;
    appearance: none;
    border: 2px solid #1b1f2b;
    border-radius: 50%;
    @include mixins.customHoverMixin(border-color, 0.3s);

    &:checked {
      border-color: colors.$black;
    }

    &:checked::after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 12px;
      height: 12px;
      content: '';
      transform: translate(-50%, -50%);
      background: colors.$black;
      border-radius: 50%;
    }
  }

  &__checkbox {
    margin-bottom: 33px;
    flex-shrink: 0;

    &-label {
      display: flex;
      gap: 19px;
      align-items: center;
    }

    &-input {
      position: relative;
      display: inline-block;
      width: 26px;
      height: 26px;
      margin: 0;
      cursor: pointer;
      appearance: none;
      border: 2px solid colors.$black;
      border-radius: 6px;

      &:checked {
        background: colors.$white;
        border-color: colors.$black;
      }

      &:checked::after {
        position: absolute;
        top: 4px;
        left: 8px;
        width: 6px;
        height: 12px;
        content: '';
        transform: rotate(45deg);
        border-right: 2px solid colors.$black;
        border-bottom: 2px solid colors.$black;
      }
    }

    &-text {
      letter-spacing: -0.165px;
      @include mixins.p-small;
      color: colors.$gray300;
    }

    &-link {
      background: none;
      border: none;
      text-decoration: none;
      text-underline-offset: 3px;
      @include mixins.p-small;
      color: colors.$black;

      &:hover {
        text-decoration: black underline;
      }
    }
  }

  &__button-block {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  &__button {
    width: 100%;
    max-width: 235px;
    padding: 15px 70px;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    @include mixins.p-normal;

    &-cyan-btn {
      background-color: colors.$green400;
      color: colors.$white;

      &:hover {
        background-color: colors.$green300;
      }

      &:active {
        background-color: colors.$green200;
      }
    }

    &-lightgreen-btn {
      background-color: colors.$green100;
      color: colors.$green400;

      &:hover {
        background-color: colors.$gray100;
      }

      &:active {
        background-color: colors.$gray200;
      }
    }
  }
}

.feedback {
  background-color: colors.$beige100;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    max-width: 529px;
    margin-bottom: 100px;

    &-title {
      text-align: center;
      @include mixins.h2-pc;
    }

    &-subtitle {
      max-width: 400px;
      text-align: center;
      @include mixins.p-normal;
      color: colors.$gray300;
    }
  }

  &__card-wrapper {
    display: flex;
    gap: 30px;
    align-items: stretch;
    height: 673px;
  }

  &__card {
    display: flex;
    width: 100%;
    max-width: 570px;
    height: 100%;
    background-color: colors.$beige200;
    border-radius: 50px;
  }

  &__card-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
  }

  &__card-text {
    @include mixins.p-big;
  }

  &__card-info {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  &__card-username {
    margin-bottom: 8px;
    @include mixins.h3-pc;
  }

  &__card-tour {
    color: colors.$gray300;
  }

  &__card-user-avatar {
    width: 75px;
    height: 75px;
    mix-blend-mode: multiply;
  }
}

.gallery {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 100px;

    &-title {
      text-align: center;
      @include mixins.h2-pc;
    }

    &-subtitle {
      width: 418px;
      text-align: center;
      @include mixins.p-normal;
      color: colors.$gray300;
    }
  }

  &__photo-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 30px;

    &__row {
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

      & > img {
        display: block;
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 50px;
      }
    }
  }
}

.pictures {
  background-color: colors.$beige100;

  &__container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 100px;
  }

  &__title {
    text-align: center;
    @include mixins.h2-pc;
  }

  &__subtitle {
    width: 400px;
    text-align: center;
    @include mixins.p-normal;
    color: colors.$gray300;
  }

  .images {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 30px;

    &__row {
      display: grid;
      gap: 30px;

      &:nth-child(1) {
        grid-template-columns: repeat(4, 1fr);
      }

      &:nth-child(2) {
        grid-template-columns: repeat(5, 1fr);
      }

      &:nth-child(3) {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    &__item {
      width: 100%;
      height: 301px;
      object-fit: cover;
      border-radius: 50px;
    }
  }
}

.history {
  background-color: colors.$beige100;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 100px;
  }

  &__title {
    text-align: center;
    @include mixins.h2-pc;
  }

  &__subtitle {
    width: 400px;
    text-align: center;
    @include mixins.p-normal;
    color: colors.$gray300;
  }

  &__card-wrapper {
    gap: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
    @include mixins.flex-column;
  }

  &__card {
    position: relative;
    z-index: 4;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    max-height: 567px;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    border-radius: 50px;

    &-background {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -99;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transform: scale(1);
      background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
      @include mixins.customHoverMixin(transform, 0.3s);
    }

    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      pointer-events: none;
      background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    }

    &:hover &-background {
      transform: scale(1.2);
    }

    &:hover &-btn {
      background-color: colors.$green400;
    }

    &:active &-btn {
      background-color: colors.$orange200 ;
    }

    &-top-block {
      padding: 60px;
    }

    &-title {
      margin-bottom: 37px;
      @include mixins.h3-pc;
      color: colors.$white;
    }

    &-subtitle {
      max-width: 554px;
      margin-bottom: 25px;
      @include mixins.p-normal;
      color: colors.$white;
    }

    &-bottom-block {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      padding: 0 60px 50px 60px;
    }

    &-btn {
      display: flex;
      gap: 15px;
      align-items: center;
      justify-content: center;
      margin-left: -20px;
      padding: 7px 20px;
      cursor: pointer;
      background-color: transparent;
      border: none;
      border-radius: 50px;
      letter-spacing: -1px;
      @include mixins.customHoverMixin(width, 0.3s);
      @include mixins.customHoverMixin(background-color, 0.3s);

      &:hover {
        background-color: colors.$green400;
      }

      &-content {
        @include mixins.p-big;
        color: colors.$white;
      }

      &:active {
        background: colors.$orange200 ;
      }
    }
  }

  &__card-list-wrapper {
    padding-left: 30px;
  }

  &__card-list {
    list-style-type: disc;
    @include mixins.p-normal;
    color: colors.$white;
  }

  &__links {
    gap: 35px;
    @include mixins.flex-center-between;
  }

  &__link-item {
    position: relative;
    text-decoration: none;
    @include mixins.p-normal;
    color: colors.$white;

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 0;
      height: 2px;
      content: '';
      background-color: colors.$white;
      @include mixins.customHoverMixin(width, 0.3s);
      @include mixins.customHoverMixin(background-color, 0.3s);
    }

    &:hover:after {
      width: 100%;
    }

    &:active {
      color: colors.$orange200;

      &:after {
        width: 100%;
        background-color: colors.$orange200;
      }
    }
  }
}

.mail {
  padding-bottom: 135px;
  background-color: colors.$beige100;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__centered-wrapper {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  &__image {
    max-width: 370px;
    max-height: 370px;
    border-radius: 50px;
  }

  &__text-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 371px;
  }

  &__title {
    @include mixins.h3-pc;
  }

  &__subtitle {
    @include mixins.p-normal;
    color: colors.$gray300;

    > a {
      position: relative;
      display: inline-block;
      text-decoration: none;
      @include mixins.p-normal;
      color: colors.$black;

      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        content: '';
        background-color: colors.$black;
        @include mixins.customHoverMixin(width, 0.3s);
        @include mixins.customHoverMixin(background-color, 0.3s);
      }

      &:hover:after {
        width: 100%;
      }
    }
  }
}

.footer {
  background-color: colors.$beige200;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
  }

  &__link-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }

  &__link-item {
    display: flex;
    align-items: center;
    gap: 10px;

    text-decoration: none;
    color: inherit;
    @include mixins.p-normal;

    span {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0;
        background-color: colors.$black;
        @include mixins.customHoverMixin(width, 0.3s);
        @include mixins.customHoverMixin(background-color, 0.3s);
      }

      &:hover:after {
        width: 100%;
      }
    }

    &:active span:after {
      background-color: colors.$orange200;
    }
  }

  &__link-logo {
    width: 26px;
    height: 26px;
  }

  &__text {
    @include mixins.p-normal;
    color: colors.$gray300;
  }
}


@keyframes headerShow {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes headerHide {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@import 'media';
