@use 'mixins';
@use 'colors';
@use 'reset';

$fullHD-width: 1920;

@function vw($px) {
  @return calc($px / $fullHD-width * 100vw);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

section {
  padding-top: vw(135);
}

.container {
  width: 100%;
  max-width: vw(1170);
  margin: 0 auto;
}

.background-wrapper {
  display: flex;
  min-height: 100dvh;
  flex-direction: column;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url('../images/hero-background.jpg') no-repeat center/cover lightgray;
  background-size: cover;

  .header {
    padding: vw(28) 0;

    &__logo {
      width: vw(181);
      height: vw(30);
    }

    &__content {
      @include mixins.flex-center-between;
    }

    &__phone {
      text-decoration: none;
      @include mixins.p-normal;
      color: colors.$white;
    }

    &__nav {
      &-list {
        gap: vw(50);
        @include mixins.flex-center-between;

        li {
          .header__link {
            text-decoration: none;
            @include mixins.p-normal;
            color: colors.$white;
            @include mixins.customHoverMixin(color);

            &:after {
              display: block;
              width: 0%;
              height: vw(1.4);
              content: '';
              background-color: white;
              @include mixins.customHoverMixin(width);
            }

            &:hover:after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: colors.$beige200;
  backdrop-filter: blur(vw(54));
  transform: translateY(-100%);

  .header__link {
    position: relative;
    @include mixins.customHoverMixin(color);
    color: colors.$black !important;

    &:after {
      display: block;
      width: 0%;
      height: vw(1.4);
      content: '';
      background-color: black !important;
      @include mixins.customHoverMixin(width);
    }

    &:hover:after {
      width: 100%;
    }
  }

  .header__phone {
    color: colors.$black !important;
  }

  svg path {
    fill: colors.$black !important;
    @include mixins.customHoverMixin(fill);
  }
}

.header-show {
  animation: headerShow 0.5s ease forwards;
}

.header-hide {
  animation: headerHide 0.5s ease forwards;
}

.hero {
  position: relative;
  flex: 1;
  gap: vw(50);
  padding-top: 0;
  text-align: center;
  justify-content: center;
  @include mixins.flex-column;

  &__title {
    max-width: vw(768);
    letter-spacing: vw(2.2);
    @include mixins.h1-pc;
    color: colors.$white;
  }

  &__subtitle {
    max-width: vw(562);
    @include mixins.p-normal;
    color: colors.$white;
  }

  &__btn {
    padding: vw(5) vw(20);
    background-color: colors.$white;
    border: vw(1) solid colors.$white;
    border-radius: vw(10);
    @include mixins.p-small;
    @include mixins.customHoverMixin(background-color, 0.25s);
    @include mixins.customHoverMixin(color, 0.25s);

    &:hover {
      background-color: colors.$orange200;
      color: colors.$white;
      border: vw(1) solid colors.$orange200;
    }

    &:active {
      background-color: colors.$orange100;
      color: colors.$black;
      border: vw(1) solid colors.$orange100;
    }
  }
}

.find-tour {
  background-color: colors.$beige100;

  &__content {
    align-items: center;
    @include mixins.flex-column;
  }

  &__header-block {
    gap: vw(35);
    margin-bottom: vw(105);
    @include mixins.flex-column;
  }

  &__title {
    @include mixins.h2-pc;
  }

  &__list {
    gap: vw(30);
    @include mixins.flex-center-between;
  }

  &__list-link {
    display: inline-flex;
    padding: 0;
    background: none;
    border: none;
    text-decoration: none;
    letter-spacing: vw(-0.73);
    @include mixins.p-big;
    @include mixins.customHoverMixin(width);

    &:after {
      display: block;
      width: 0%;
      height: vw(2);
      content: '';
      background-color: colors.$black;
      @include mixins.customHoverMixin(width);
    }

    &:hover:after {
      width: 100%;
    }
  }

  &__list-link_active {
    position: relative;
    text-decoration: none;
    @include mixins.p-big;
    color: colors.$orange200;

    &:after {
      position: absolute;
      bottom: vw(-2);
      left: 0;
      display: block;
      width: 100%;
      height: vw(2);
      content: '';
      background-color: colors.$orange200;
      @include mixins.customHoverMixin(width);
    }
  }

  &__card-wrapper {
    display: grid;
    gap: vw(30);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  &__card {
    position: relative;
    z-index: 1;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 100vh;
    max-height: vw(531);
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: vw(50);

    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1);
      @include mixins.customHoverMixin(transform, 0.3s);
    }

    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      pointer-events: none;
      content: '';
      background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
    }

    &:hover &-bg {
      transform: scale(1.2);
    }

    &-header {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: vw(16);
      width: vw(370);
      padding: vw(50);
    }

    &-title {
      max-width: vw(240);
      @include mixins.h3-pc;
      color: colors.$white;
    }

    &-price {
      @include mixins.p-small;
      color: colors.$white;
    }

    &-footer {
      position: relative;
      z-index: 2;
      padding: vw(50);
    }
  }

  &__card-btn {
    position: absolute;
    bottom: vw(43);
    left: vw(30);
    display: flex;
    gap: vw(15);
    align-items: center;
    justify-content: center;
    padding: vw(7) vw(20);
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: vw(50);
    letter-spacing: vw(-0.7);
    @include mixins.customHoverMixin(width, 0.3s);
    @include mixins.customHoverMixin(background-color, 0.3s);

    &:hover {
      background-color: colors.$green400;
    }

    &-content {
      @include mixins.p-big;
      color: colors.$white;
    }

    &:active {
      background: colors.$orange200 !important;
    }
  }

  &__card:hover &__card-btn {
    background-color: colors.$green400;
  }

  &__card:active &__card-btn {
    background: colors.$orange200 !important;
  }
}

.tour-form {
  background-color: colors.$beige100;

  &__content {
    @include mixins.flex-column;
  }

  &__header {
    gap: vw(30);
    padding-bottom: vw(100);
    @include mixins.flex-column;
  }

  &__title {
    @include mixins.h2-pc;
  }

  &__subtitle {
    width: vw(400);
    text-align: center;
    @include mixins.p-normal;
    color: colors.$gray300;
  }

  &__form {
    width: 100%;
    background-color: colors.$white;
    border-radius: vw(50);
  }

  &__wrapper {
    padding: vw(70);
    border-radius: vw(50);
  }

  &__fields {
    display: grid;
    gap: vw(30);
    column-gap: vw(33);
    grid-template-columns: repeat(2, 1fr);
  }

  &__field {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: vw(8);
    width: 100%;
  }

  &__label {
    @include mixins.p-normal;
  }

  &__input {
    width: 100%;
    padding: vw(20);
    background-color: colors.$beige100;
    border: vw(1) solid colors.$beige200;
    border-radius: vw(10);
    @include mixins.p-normal;

    &::placeholder {
      @include mixins.p-normal;
      color: colors.$gray300;
    }

    &:hover {
      background-color: colors.$beige200;
    }

    &:focus {
      transform: none;
      outline: none;
      border: vw(1) solid colors.$gray300;
    }
  }

  &__select {
    appearance: none;
    padding-right: vw(48);

    &:invalid {
      color: colors.$gray300 !important;
    }
  }

  &__field:has(.tour-form__select)::after {
    position: absolute;
    top: 58%;
    right: vw(21);
    width: vw(26);
    height: vw(26);
    pointer-events: none;
    content: '';
    background: url(/assets/images/svg/select-arrow.svg) no-repeat center / contain;
  }

  &__select-item {
    background-color: colors.$beige200;
  }

  &__textarea {
    min-height: vw(152);
    height: 0;
    resize: none;
  }

  &__comment-block {
    margin-top: vw(33);
  }

  &__radio {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: vw(8);
    margin: vw(33) 0;

    &-name {
      @include mixins.p-normal;
    }

    &-wrapper {
      display: flex;
      gap: vw(31);
      align-items: center;
      justify-content: center;
    }

    &-option {
      display: flex;
      gap: vw(11);
      align-items: start;
      justify-content: center;
    }

    &-text {
      @include mixins.p-normal;
    }
  }

  &__radio-input {
    position: relative;
    display: inline-block;
    width: vw(26);
    height: vw(26);
    margin: 0;
    cursor: pointer;
    appearance: none;
    border: vw(2) solid #1b1f2b;
    border-radius: 50%;
    @include mixins.customHoverMixin(border-color, 0.3s);

    &:checked {
      border-color: colors.$black;
    }

    &:checked::after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: vw(12);
      height: vw(12);
      content: '';
      transform: translate(-50%, -50%);
      background: colors.$black;
      border-radius: 50%;
    }
  }

  &__checkbox {
    margin-bottom: vw(33);

    &-label {
      display: flex;
      gap: vw(19);
      align-items: center;
    }

    &-input {
      position: relative;
      display: inline-block;
      width: vw(26);
      height: vw(26);
      margin: 0;
      cursor: pointer;
      appearance: none;
      border: vw(2) solid colors.$black;
      border-radius: vw(6);

      &:checked {
        background: colors.$white;
        border-color: colors.$black;
      }

      &:checked::after {
        position: absolute;
        top: vw(4);
        left: vw(8);
        width: vw(6);
        height: vw(12);
        content: '';
        transform: rotate(45deg);
        border-right: vw(2) solid colors.$black;
        border-bottom: vw(2) solid colors.$black;
      }
    }

    &-text {
      letter-spacing: vw(-0.165);
      @include mixins.p-small;
      color: colors.$gray300;
    }

    &-link {
      background: none;
      border: none;
      text-decoration: none;
      text-underline-offset: vw(3);
      @include mixins.p-small;
      color: colors.$black;

      &:hover {
        text-decoration: black underline;
      }
    }
  }

  &__button-block {
    display: flex;
    gap: vw(30);
    align-items: center;
  }

  &__button {
    width: 100%;
    max-width: vw(235);
    padding: vw(15) vw(70);
    cursor: pointer;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    border: none;
    border-radius: vw(10);
    @include mixins.p-normal;

    &-cyan-btn {
      background-color: colors.$green400;
      color: colors.$white;

      &:hover {
        background-color: colors.$green300;
      }

      &:active {
        background-color: colors.$green200;
      }
    }

    &-lightgreen-btn {
      background-color: colors.$green100;
      color: colors.$green400;

      &:hover {
        background-color: colors.$gray100;
      }

      &:active {
        background-color: colors.$gray200;
      }
    }
  }
}

.feedback {
  background-color: colors.$beige100;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: vw(30);
    width: 100%;
    max-width: vw(529);
    margin-bottom: vw(100);

    &-title {
      text-align: center;
      @include mixins.h2-pc;
    }

    &-subtitle {
      max-width: vw(400);
      text-align: center;
      @include mixins.p-normal;
      color: colors.$gray300;
    }
  }

  &__card-wrapper {
    display: flex;
    gap: vw(30);
    align-items: stretch;
    height: vw(673);
  }

  &__card {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: colors.$beige200;
    border-radius: vw(50);
  }

  &__card-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: vw(40);
  }

  &__card-text {
    @include mixins.p-big;
  }

  &__card-info {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  &__card-username {
    margin-bottom: vw(8);
    @include mixins.h3-pc;
  }

  &__card-tour {
    color: colors.$gray300;
  }

  &__card-user-avatar {
    width: vw(75);
    height: vw(75);
    mix-blend-mode: multiply;
  }
}

.gallery {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: vw(30);
    padding-bottom: vw(100);

    &-title {
      text-align: center;
      @include mixins.h2-pc;
    }

    &-subtitle {
      width: vw(418);
      text-align: center;
      @include mixins.p-normal;
      color: colors.$gray300;
    }
  }

  &__photo-wrapper {
    display: flex;
    flex-direction: column;
    gap: vw(30);
    padding: 0 vw(30);

    &__row {
      display: grid;
      gap: vw(30);
      grid-template-columns: repeat(auto-fit, minmax(vw(250), 1fr));

      & > img {
        display: block;
        width: 100%;
        height: vw(300);
        object-fit: cover;
        border-radius: vw(50);
      }
    }
  }
}

.pictures {
  background-color: colors.$beige100;

  &__container {
    width: 100%;
    max-width: vw(1920);
    margin: 0 auto;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: vw(30);
    margin-bottom: vw(100);
  }

  &__title {
    text-align: center;
    @include mixins.h2-pc;
  }

  &__subtitle {
    width: vw(400);
    text-align: center;
    @include mixins.p-normal;
    color: colors.$gray300;
  }

  .images {
    display: flex;
    flex-direction: column;
    gap: vw(30);
    padding: 0 vw(30);

    &__row {
      display: grid;
      gap: vw(30);

      &:nth-child(1) {
        grid-template-columns: repeat(4, 1fr);
      }

      &:nth-child(2) {
        grid-template-columns: repeat(5, 1fr);
      }

      &:nth-child(3) {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    &__item {
      width: 100%;
      height: vw(301);
      object-fit: cover;
      border-radius: vw(50);
    }
  }
}

.history {
  background-color: colors.$beige100;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: vw(30);
    margin-bottom: vw(100);
  }

  &__title {
    text-align: center;
    @include mixins.h2-pc;
  }

  &__subtitle {
    width: vw(400);
    text-align: center;
    @include mixins.p-normal;
    color: colors.$gray300;
  }

  &__card-wrapper {
    gap: vw(50);
    align-items: center;
    justify-content: center;
    @include mixins.flex-column;
  }

  &__card {
    position: relative;
    z-index: 4;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    max-width: vw(1170);
    max-height: vw(567);
    height: 100vh;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    border-radius: vw(50);

    &-background {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -99;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transform: scale(1);
      background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
      @include mixins.customHoverMixin(transform, 0.3s);
    }

    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      pointer-events: none;
      background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    }

    &:hover &-background {
      transform: scale(1.2);
    }

    &:hover &-btn {
      background-color: colors.$green400;
    }

    &:active &-btn {
      background-color: colors.$orange200 !important;
    }

    &-top-block {
      padding: vw(60);
    }

    &-title {
      margin-bottom: vw(37);
      @include mixins.h3-pc;
      color: colors.$white;
    }

    &-subtitle {
      max-width: vw(554);
      margin-bottom: vw(25);
      @include mixins.p-normal;
      color: colors.$white;
    }

    &-bottom-block {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      padding: 0 vw(60) vw(50) vw(60);
    }

    &-btn {
      display: flex;
      gap: vw(15);
      align-items: center;
      justify-content: center;
      margin-left: vw(-20);
      padding: vw(7) vw(20);
      cursor: pointer;
      background-color: transparent;
      border: none;
      border-radius: vw(50);
      letter-spacing: vw(-1);
      @include mixins.customHoverMixin(width, 0.3s);
      @include mixins.customHoverMixin(background-color, 0.3s);

      &:hover {
        background-color: colors.$green400;
      }

      &-content {
        @include mixins.p-big;
        color: colors.$white;
      }

      &:active {
        background: colors.$orange200 !important;
      }
    }
  }

  &__card-list-wrapper {
    padding-left: vw(30);
  }

  &__card-list {
    list-style-type: disc;
    @include mixins.p-normal;
    color: colors.$white;
  }

  &__links {
    gap: vw(35);
    @include mixins.flex-center-between;
  }

  &__link-item {
    position: relative;
    text-decoration: none;
    @include mixins.p-normal;
    color: colors.$white;

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 0;
      height: vw(2);
      content: '';
      background-color: colors.$white;
      @include mixins.customHoverMixin(width, 0.3s);
      @include mixins.customHoverMixin(background-color, 0.3s);
    }

    &:hover:after {
      width: 100%;
    }

    &:active {
      color: colors.$orange200;

      &:after {
        width: 100%;
        background-color: colors.$orange200;
      }
    }
  }
}

.mail {
  padding-bottom: vw(135);
  background-color: colors.$beige100;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__centered-wrapper {
    display: flex;
    gap: vw(30);
    align-items: center;
  }

  &__image {
    max-width: vw(370);
    max-height: vw(370);
    border-radius: vw(50);
  }

  &__text-content {
    display: flex;
    flex-direction: column;
    gap: vw(20);
    max-width: vw(371);
  }

  &__title {
    @include mixins.h3-pc;
  }

  &__subtitle {
    @include mixins.p-normal;
    color: colors.$gray300;

    > a {
      position: relative;
      display: inline-block;
      text-decoration: none;
      @include mixins.p-normal;
      color: colors.$black;

      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: vw(1);
        content: '';
        background-color: colors.$black;
        @include mixins.customHoverMixin(width, 0.3s);
        @include mixins.customHoverMixin(background-color, 0.3s);
      }

      &:hover:after {
        width: 100%;
      }
    }
  }
}

.footer {
  background-color: colors.$beige200;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: vw(30) 0;
  }

  &__link-list {
    display: flex;
    gap: vw(25);
    align-items: center;
    justify-content: center;
  }

  &__link-item {
    display: flex;
    gap: vw(10);
    align-items: center;
    text-decoration: none;
    @include mixins.p-normal;
    color: inherit;

    span {
      position: relative;

      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: vw(2);
        content: '';
        background-color: colors.$black;
        @include mixins.customHoverMixin(width, 0.3s);
        @include mixins.customHoverMixin(background-color, 0.3s);
      }

      &:hover:after {
        width: 100%;
      }
    }

    &:active span:after {
      background-color: colors.$orange200;
    }
  }

  &__link-logo {
    width: vw(26);
    height: vw(26);
  }

  &__text {
    @include mixins.p-normal;
    color: colors.$gray300;
  }
}

@keyframes headerShow {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes headerHide {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@import 'media';