@use 'mixins';
@use 'colors';
@use 'reset';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

main {
  background-color: colors.$beige100;
}

.container {
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  padding-right: 21px;
  padding-left: 21px;
  box-sizing: border-box;

  @include mixins.tablet {
    padding-right: 53px;
    padding-left: 53px;
  }

  @include mixins.middle {
    padding-right: 32px;
    padding-left: 32px;
  }

  @include mixins.middle {
    padding-right: 21px;
    padding-left: 21px;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 30px 0;

  @include mixins.tablet {
    padding: 29px 0;
  }

  @include mixins.mobile {
    padding: 25px 0;
  }

  &__logo {
    //width: 181px;
    //height: 30px;

    @include mixins.middle {
      width: 150px;
      height: 30px;
    }

    @include mixins.mobile {
      width: 133px;
      height: 22px;
    }

    > img {
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    @include mixins.flex-center-between;
  }

  &__phone {
    text-decoration: none;
    color: colors.$white;
    @include mixins.p-normal;

    @include mixins.mobile {
      @include mixins.p-normal-mobile;
    }
  }

  &__nav {
    @include mixins.middle {
      display: none;
    }

    &-list {
      gap: 50px;
      @include mixins.flex-center-between;

      @include mixins.tablet {
        gap: 30px;
      }

      li {
        .header__link {
          text-decoration: none;
          color: colors.$white;
          @include mixins.p-normal;
          @include mixins.customHoverMixin(color);

          &:after {
            display: block;
            width: 0;
            height: 1.4px;
            content: '';
            background-color: white;
            @include mixins.customHoverMixin(width);
          }

          &:hover:after {
            width: 100%;
          }
        }
      }
    }
  }
}

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: rgba(244, 240, 233, 0.6);
  backdrop-filter: blur(54px);
  transform: translateY(-100%);

  .header__nav-list li .header__link {
    position: relative;
    color: colors.$black;
    @include mixins.customHoverMixin(color);

    &:after {
      display: block;
      width: 0;
      height: 1.4px;
      content: '';
      background: black;
      @include mixins.customHoverMixin(width);
    }

    &:hover:after {
      width: 100%;
    }
  }

  .header__phone {
    color: colors.$black;
  }
}

.header-show {
  animation: headerShow 0.5s ease forwards;
}

.header-hide {
  animation: headerHide 0.5s ease forwards;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-bottom: 10px;
  height: 100vh;
  min-height: 770px;
  text-align: center;
  background:
    linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url('../images/hero-background.jpg') no-repeat center/cover;

  @include mixins.tablet {
    padding-top: 90px;
    padding-bottom: 0;
    min-height: 482px;
    background:
      linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.06) 48.44%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url('../images/medium-hero-bg.jpg') no-repeat center/cover;

    @include mixins.fluid-clamp(height, 482px, 831px);
  }

  @include mixins.mobile {
    gap: 40px;
    padding-top: 136px;
    padding-bottom: 52px;
  }

  &__title {
    max-width: 768px;
    letter-spacing: 1.2px;
    color: colors.$white;
    @include mixins.h1-pc;

    @include mixins.tablet {
      font-size: clamp(34px, 9.375vw, 96px);
    }

    @include mixins.mobile {
      letter-spacing: 1px;
      color: colors.$white;
      @include mixins.h1-mobile;
    }
  }

  &__subtitle {
    max-width: 562px;
    color: colors.$white;
    @include mixins.p-normal;

    @include mixins.tablet {
      font-size: clamp(16px, 2.5vw, 20px);
      @include mixins.fluid-clamp(width, 310px, 400px);
    }

    @include mixins.mobile {
      @include mixins.p-normal-mobile;
    }
  }

  &__btn {
    padding: 5px 20px;
    border: 1px solid colors.$white;
    border-radius: 10px;
    background-color: colors.$white;
    @include mixins.p-small;
    @include mixins.customHoverMixin(background-color, 0.25s);
    @include mixins.customHoverMixin(color, 0.25s);

    &:hover {
      border: 1px solid colors.$orange200;
      background-color: colors.$orange200;
      color: colors.$white;
    }

    &:active {
      border: 1px solid colors.$orange100;
      background-color: colors.$orange100;
      color: colors.$black;
    }
  }
}
.find-tour {
  padding-top: 135px;

  @include mixins.middle {
    padding-top: 75px;
  }

  &__content {
    align-items: center;
    @include mixins.flex-column;
  }

  &__header-block {
    gap: 35px;
    width: 100%;
    margin-bottom: 105px;
    @include mixins.flex-column;

    @include mixins.middle {
      gap: 30px;
      margin-bottom: 75px;
    }

    @include mixins.mobile {
      gap: 30px;
      margin-bottom: 50px;
      text-align: center;
    }
  }

  &__title {
    @include mixins.h2-pc;

    @include mixins.middle {
      text-align: center;
      @include mixins.fluid-clamp(font-size, 34px, 59px);
    }

    @include mixins.mobile {
      letter-spacing: 0.6px;
      @include mixins.h2-mobile;
    }
  }

  &__list {
    gap: 30px;
    @include mixins.flex-center-between;

    @include mixins.tablet {
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
    }

    @include mixins.middle {
      gap: 20px;
    }

    @include mixins.mobile {
      gap: 10px;
    }
  }

  &__list-link {
    position: relative;
    display: inline-flex;
    padding: 0;
    border: none;
    background: none;
    text-decoration: none;
    letter-spacing: -0.7px;
    @include mixins.p-big;
    @include mixins.customHoverMixin(width);

    @include mixins.middle {
      @include mixins.fluid-clamp(font-size, 16px, 23px);
    }

    @include mixins.mobile {
      letter-spacing: -0.45px;
      @include mixins.p-normal-mobile;
      font-weight: bold;
    }

    &:after {
      position: absolute;
      bottom: -2.4px;
      display: block;
      width: 0;
      height: 2px;
      content: '';
      background-color: colors.$black;
      @include mixins.customHoverMixin(width);
    }

    &:hover:after {
      width: 100%;
    }
  }

  &__list-link-active {
    position: relative;
    text-decoration: none;
    color: colors.$orange200;
    @include mixins.p-big;

    @include mixins.middle {
      @include mixins.fluid-clamp(font-size, 16px, 23px);
    }

    @include mixins.mobile {
      letter-spacing: -0.45px;
      color: colors.$orange200;
      @include mixins.p-normal-mobile;
      font-weight: bold;
    }

    &:after {
      position: absolute;
      bottom: -2px;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      content: '';
      background-color: colors.$orange200;
      @include mixins.customHoverMixin(width);
    }
  }

  &__card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
    width: 100%;

    @include mixins.tablet {
      grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
      justify-items: center;
      gap: 18px;
    }

    @include mixins.mobile {
      grid-template-columns: 1fr;
      gap: 18px;
    }
  }

  &__card {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    aspect-ratio: 9 / 12.92;
    border-radius: 50px;
    background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    );

    @include mixins.tablet {
      aspect-ratio: 10 / 14;
      width: 100%;
      max-width: 450px;
      max-height: 531px;
      border-radius: 50px;
    }

    @include mixins.mobile {
      aspect-ratio: 1 / 1;
      border-radius: 20px;
    }

    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1);
      @include mixins.customHoverMixin(transform, 0.3s);
    }

    @include mixins.hover('&-bg') {
      transform: scale(1.2);
    }

    @include mixins.hover('&-btn') {
      background-color: colors.$green400;
    }

    @media (hover: hover) {
      &:active &-btn {
        background: colors.$orange200;
      }
    }

    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: '';
      pointer-events: none;
      background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.06) 48.44%,
        rgba(0, 0, 0, 0.5) 100%
      );
    }

    &-header {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 16px;
      width: 100%;
      padding: 50px;

      @include mixins.tablet {
        width: 100%;
        padding: 50px;
      }

      @include mixins.middle {
        padding: 35px;
      }

      @include mixins.mobile {
        padding: 25px;
      }
    }

    &-title {
      max-width: 240px;
      color: colors.$white;
      @include mixins.h3-pc;

      @include mixins.tablet {
        max-width: fit-content;
      }

      @include mixins.mobile {
        letter-spacing: 0.8px;
        color: colors.$white;
        @include mixins.h3-mobile;
      }
    }

    &-price {
      color: colors.$white;
      @include mixins.p-small;

      @include mixins.mobile {
        @include mixins.p-small-mobile;
      }
    }

    &-footer {
      position: relative;
      z-index: 2;
      width: 100%;
      padding: 50px;

      @include mixins.tablet {
        width: 100%;
        padding: 50px;
      }

      @include mixins.middle {
        padding: 35px;
      }

      @include mixins.mobile {
        padding: 25px;
      }
    }
  }

  &__card-btn {
    position: absolute;
    bottom: 43px;
    left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 7px 20px;
    border: none;
    border-radius: 50px;
    background-color: transparent;
    letter-spacing: -0.7px;
    @include mixins.customHoverMixin(width, 0.3s);
    @include mixins.customHoverMixin(background-color, 0.3s);

    @include mixins.mobile {
      bottom: 18px;
      left: 10px;
      padding: 5px 15px;
    }

    @include mixins.hover {
      background-color: colors.$green400;

      &:active {
        background: colors.$orange200;
      }
    }

    &-content {
      color: colors.$white;
      @include mixins.p-big;

      @include mixins.mobile {
        @include mixins.p-big-mobile;
      }
    }
  }
}

.tour-form {
  padding-top: 135px;

  @include mixins.middle {
    padding-top: 75px;
  }

  &__content {
    @include mixins.flex-column;
  }

  &__header {
    gap: 30px;
    padding-bottom: 100px;
    @include mixins.flex-column;

    @include mixins.middle {
      padding-bottom: 75px;
    }

    @include mixins.mobile {
      gap: 20px;
      padding-bottom: 40px;
    }
  }

  &__title {
    @include mixins.h2-pc;

    @include mixins.middle {
      text-align: center;
      @include mixins.fluid-clamp(font-size, 34px, 59px);
    }

    @include mixins.mobile {
      letter-spacing: 0.7px;
      @include mixins.h2-mobile;
    }
  }

  &__subtitle {
    width: 400px;
    text-align: center;
    color: colors.$gray300;
    @include mixins.p-normal;

    @include mixins.middle {
      width: 100%;
      max-width: 400px;
      text-align: center;
      @include mixins.fluid-clamp(font-size, 16px, 20px);
    }

    @include mixins.mobile {
      @include mixins.p-normal-mobile;
    }
  }

  &__form {
    width: 100%;
    border-radius: 50px;
    background-color: colors.$white;
  }

  &__wrapper {
    padding: 70px;
    border-radius: 50px;

    @include mixins.tablet {
      padding: 60px;
    }

    @include mixins.middle {
      padding: 40px;
    }

    @include mixins.middle {
      padding: 20px;
      border-radius: 30px;
    }
  }

  &__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 29px;

    @include mixins.tablet {
      grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
      column-gap: 20px;
    }

    @include mixins.mobile {
      display: flex;
      flex-direction: column;
    }
  }

  &__field {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    width: 100%;
  }

  &__label {
    @include mixins.p-normal;

    @include mixins.mobile {
      @include mixins.p-small-mobile;
    }
  }

  &__input {
    width: 100%;
    padding: 20px;
    border: 1px solid colors.$beige200;
    border-radius: 10px;
    background-color: colors.$beige100;
    @include mixins.p-normal;

    @include mixins.middle {
      min-width: 0;
      padding: 15px;
    }

    @include mixins.mobile {
      width: 100%;
      max-height: 46px;
      padding: 10px;
    }

    &::placeholder {
      color: colors.$gray300;
      @include mixins.p-normal;

      @include mixins.mobile {
        @include mixins.p-normal-mobile;
      }
    }

    &:hover {
      background-color: colors.$beige200;
    }

    &:focus {
      border: 1px solid colors.$gray300;
      outline: none;
      transform: none;
    }
  }

  &__select {
    appearance: none;
    padding-right: 48px;

    @include mixins.mobile {
      color: colors.$gray300;
      @include mixins.p-normal-mobile;
    }

    &:invalid {
      color: colors.$gray300;
    }
  }

  &__field:has(.tour-form__select)::after {
    position: absolute;
    top: 52%;
    right: 20px;
    width: 26px;
    height: 26px;
    content: '';
    pointer-events: none;
    background: url(/images/svg/select-arrow.svg) no-repeat center / contain;

    @include mixins.mobile {
      top: 52%;
      right: 10px;
      width: 26px;
      height: 26px;
    }
  }

  &__select-item {
    background-color: colors.$beige200;
  }

  &__textarea {
    height: 0;
    min-height: 152px;
    resize: none;

    @include mixins.mobile {
      min-height: 132px;
    }
  }

  &__comment-block {
    margin-top: 33px;

    @include mixins.mobile {
      margin-top: 25px;
    }
  }

  &__radio {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    margin: 32px 0;

    @include mixins.mobile {
      margin: 30px 0;
    }

    &-name {
      @include mixins.p-normal;

      @include mixins.mobile {
        @include mixins.p-normal-mobile;
      }
    }

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 31px;
    }

    &-option {
      display: flex;
      align-items: start;
      justify-content: center;
      gap: 11px;
    }

    &-text {
      @include mixins.p-normal;

      @include mixins.mobile {
        @include mixins.p-normal-mobile;
      }
    }
  }

  &__radio-input {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 26px;
    margin: 0;
    cursor: pointer;
    appearance: none;
    border: 2px solid colors.$black;
    border-radius: 50%;

    @include mixins.mobile {
      width: 20px;
      height: 20px;
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 12px;
      height: 12px;
      content: '';
      border-radius: 50%;
      background: colors.$black;
      transform: translate(-50%, -50%) scale(0);
      @include mixins.customHoverMixin(transform, 0.3s);

      @include mixins.mobile {
        width: 8px;
        height: 8px;
      }
    }

    &:checked::after {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &__checkbox {
    flex-shrink: 0;
    margin-bottom: 33px;

    @include mixins.mobile {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 25px;
    }

    &-label {
      display: flex;
      align-items: center;
      gap: 19px;

      @include mixins.tablet {
        gap: 11px;
      }

      @include mixins.mobile {
        align-items: flex-start;
        gap: 10px;
        width: 100%;
      }
    }

    &-input {
      position: relative;
      display: inline-block;
      flex-shrink: 0;
      width: 26px;
      height: 26px;
      margin: 0;
      cursor: pointer;
      appearance: none;
      border: 2px solid colors.$black;
      border-radius: 6px;

      @include mixins.mobile {
        width: 20px;
        height: 20px;
      }

      &:checked {
        border-color: colors.$black;
        background: colors.$white;
      }

      &:checked::after {
        position: absolute;
        top: 4px;
        left: 8px;
        width: 6px;
        height: 12px;
        content: '';
        border-right: 2px solid colors.$black;
        border-bottom: 2px solid colors.$black;
        transform: rotate(45deg);

        @include mixins.mobile {
          top: 1px;
          left: 5px;
        }
      }
    }

    &-text {
      letter-spacing: -0.2px;
      color: colors.$gray300;
      @include mixins.p-small;

      @include mixins.mobile {
        letter-spacing: -0.5px;
      }
    }

    &-link {
      border: none;
      background: none;
      text-decoration: none;
      text-underline-offset: 3px;
      color: colors.$black;
      @include mixins.p-small;

      @include mixins.mobile {
        padding: 0;
      }

      &:hover {
        text-decoration: black underline;
      }
    }
  }

  &__button-block {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;

    @include mixins.middle {
      gap: 20px;
    }

    @include mixins.mobile {
      gap: 10px;
      margin-bottom: 21px;
    }
  }

  &__button {
    width: 100%;
    max-width: 235px;
    padding: 15px 70px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    @include mixins.p-normal;

    @include mixins.middle {
      @include mixins.fluid-clamp(width, 137px, 235px);
      @include mixins.fluid-clamp(height, 47px, 58px);
      @include mixins.fluid-clamp(padding, 12px, 15px);
      @include mixins.fluid-clamp(font-size, 16px, 20px);
    }

    @include mixins.mobile {
      padding: 12px 29px;
    }

    &-cyan-btn {
      background-color: colors.$green400;
      color: colors.$white;

      &:hover {
        background-color: colors.$green300;
      }

      &:active {
        background-color: colors.$green200;
      }
    }

    &-lightgreen-btn {
      background-color: colors.$green100;
      color: colors.$green400;

      &:hover {
        background-color: colors.$gray100;
      }

      &:active {
        background-color: colors.$gray200;
      }
    }
  }
}

.feedback {
  padding-top: 135px;

  @include mixins.middle {
    padding-top: 75px;
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    max-width: 529px;
    margin-bottom: 100px;

    @include mixins.middle {
      margin-bottom: 75px;
    }

    @include mixins.mobile {
      gap: 20px;
      margin-bottom: 50px;
    }

    &-title {
      text-align: center;
      @include mixins.h2-pc;

      @include mixins.middle {
        @include mixins.fluid-clamp(font-size, 34px, 59px);
      }

      @include mixins.mobile {
        letter-spacing: 1px;
        @include mixins.h2-mobile;
      }
    }

    &-subtitle {
      max-width: 400px;
      text-align: center;
      color: colors.$gray300;
      @include mixins.p-normal;

      @include mixins.middle {
        width: 100%;
        max-width: 400px;
        text-align: center;
        @include mixins.fluid-clamp(font-size, 16px, 20px);
      }
    }
  }

  &__card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    @include mixins.tablet {
      gap: 18px;
    }

    @include mixins.middle {
      grid-template-columns: repeat(auto-fit, minmax(318px, 1fr));
    }
  }

  &__card {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: colors.$beige200;

    @include mixins.mobile {
      height: auto;
      max-height: fit-content;
      border-radius: 20px;
    }
  }

  &__card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 70px;
    width: 100%;
    padding: 40px;

    @include mixins.tablet {
      gap: 65px;
    }

    @include mixins.middle {
      gap: 56px;
      padding: 20px;
    }

    @include mixins.mobile {
      gap: 45px;
    }
  }

  &__card-text {
    @include mixins.p-big;

    @include mixins.tablet {
      max-width: clamp(278px, 82vw, 370px);
      margin: 0 auto;
      word-break: normal;
      @include mixins.fluid-clamp(font-size, 16px, 23px);
    }

    @include mixins.mobile {
      @include mixins.p-big-mobile;
      line-height: 143%;
    }
  }

  &__card-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__card-username {
    margin-bottom: 8px;
    @include mixins.h3-pc;

    @include mixins.tablet {
      @include mixins.fluid-clamp(font-size, 23px, 35px);
    }

    @include mixins.mobile {
      letter-spacing: 0.8px;
      @include mixins.h3-mobile;
    }
  }

  &__card-tour {
    color: colors.$gray300;
  }

  &__card-user-avatar {
    width: 75px;
    height: 75px;
    mix-blend-mode: multiply;
  }
}

.travel-gallery {
  padding-top: 135px;

  @include mixins.middle {
    padding-top: 75px;
  }

  &__container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 100px;

    @include mixins.mobile {
      gap: 20px;
      margin-bottom: 50px;
    }
  }

  &__title {
    text-align: center;
    @include mixins.h2-pc;

    @include mixins.middle {
      @include mixins.fluid-clamp(font-size, 34px, 59px);
    }

    @include mixins.mobile {
      letter-spacing: 1px;
      @include mixins.h2-mobile;
    }
  }

  &__subtitle {
    width: 400px;
    text-align: center;
    color: colors.$gray300;
    @include mixins.p-normal;

    @include mixins.middle {
      width: 100%;
      max-width: 400px;
      text-align: center;
      @include mixins.fluid-clamp(font-size, 16px, 20px);
    }

    @include mixins.mobile {
      max-width: 318px;
      color: colors.$gray300;
      @include mixins.p-normal-mobile;
    }
  }

  &__images {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 30px;

    @include mixins.tablet {
      padding: 0 20px;
    }

    @include mixins.mobile {
      gap: 18px;
      padding: 0 21px;
    }
  }

  &__row {
    display: grid;
    grid-auto-rows: 301px;
    gap: 30px;

    &:nth-child(1) {
      grid-template-columns: repeat(4, 1fr);
    }

    &:nth-child(2) {
      grid-template-columns: repeat(5, 1fr);
    }

    &:nth-child(3) {
      grid-template-columns: repeat(4, 1fr);
    }

    @include mixins.tablet {
      gap: 20px;

      &:nth-child(1) {
        grid-template-columns: repeat(3, 1fr);

        .travel-gallery__item:nth-child(2) {
          display: none;
        }
      }

      &:nth-child(2) {
        grid-template-columns: repeat(4, 1fr);

        .travel-gallery__item:nth-child(3) {
          display: none;
        }
      }

      &:nth-child(3) {
        grid-template-columns: repeat(3, 1fr);

        .travel-gallery__item:nth-child(4) {
          display: none;
        }
      }
    }

    @include mixins.middle {
      grid-auto-rows: 180px;

      &:nth-child(1) {
        grid-template-columns: repeat(2, 1fr);

        .travel-gallery__item:nth-child(3) {
          display: none;
        }
      }

      &:nth-child(2) {
        grid-template-columns: repeat(3, 1fr);

        .travel-gallery__item:nth-child(2) {
          display: none;
        }
      }

      &:nth-child(3) {
        grid-template-columns: repeat(2, 1fr);

        .travel-gallery__item:nth-child(3) {
          display: none;
        }
      }
    }

    @include mixins.mobile {
      grid-auto-rows: 110px;
      gap: 18px;

      &:nth-child(1) {
        grid-template-columns: repeat(2, 150px);
      }

      &:nth-child(2) {
        grid-template-columns: repeat(3, 99px);
        gap: 10px;
      }

      &:nth-child(3) {
        grid-template-columns: repeat(2, 150px);
      }
    }
  }

  &__item {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;

    @include mixins.middle {
      border-radius: 30px;
    }

    @include mixins.mobile {
      max-width: 150px;
      border-radius: 20px;
    }
  }
}

.history {
  padding-top: 135px;

  @include mixins.middle {
    padding-top: 75px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 100px;

    @include mixins.middle {
      margin-bottom: 75px;
    }

    @include mixins.mobile {
      gap: 20px;
      margin-bottom: 50px;
    }
  }

  &__title {
    text-align: center;
    @include mixins.h2-pc;

    @include mixins.middle {
      @include mixins.fluid-clamp(font-size, 34px, 59px);
    }

    @include mixins.mobile {
      letter-spacing: 1px;
      @include mixins.h2-mobile;
    }
  }

  &__subtitle {
    width: 400px;
    text-align: center;
    color: colors.$gray300;
    @include mixins.p-normal;

    @include mixins.middle {
      width: 100%;
      max-width: 400px;
      text-align: center;
      @include mixins.fluid-clamp(font-size, 16px, 20px);
    }

    @include mixins.mobile {
      max-width: 318px;
      color: colors.$gray300;
      @include mixins.p-normal-mobile;
    }
  }

  &__card-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    width: 100%;

    @include mixins.middle {
      gap: 35px;
    }

    @include mixins.mobile {
      gap: 20px;
    }
  }

  &__card {
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    min-height: 567px;
    border-radius: 50px;
    background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 100%
    );

    @include mixins.mobile {
      min-height: 455px;
      border-radius: 20px;
    }

    &-background {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0) 0.01%,
        rgba(0, 0, 0, 0.2) 100%
      );
      transform: scale(1);
      @include mixins.customHoverMixin(transform, 0.3s);
    }

    @include mixins.hover('&-background') {
      transform: scale(1.2);
    }

    @include mixins.hover('&-btn') {
      background-color: colors.$green400;
    }

    @media (hover: hover) {
      &:active &-btn {
        background-color: colors.$orange200;
      }
    }

    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      pointer-events: none;
      background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.2) 100%
      );
    }

    &-top-block {
      width: 100%;
      padding: 60px;

      @include mixins.middle {
        padding: 40px;
      }

      @include mixins.mobile {
        padding: 30px;
      }
    }

    &-title {
      margin-bottom: 37px;
      color: colors.$white;
      @include mixins.h3-pc;

      @include mixins.middle {
        margin-bottom: 20px;
        @include mixins.fluid-clamp(font-size, 23px, 35px);
      }

      @include mixins.mobile {
        max-width: 150px;
        letter-spacing: 1px;
      }
    }

    &-subtitle {
      max-width: 554px;
      margin-bottom: 25px;
      color: colors.$white;
      @include mixins.p-normal;

      @include mixins.mobile {
        @include mixins.p-normal-mobile;
      }
    }

    &-bottom-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 45px 60px 55px 60px;

      @include mixins.middle {
        padding: 0 40px 40px 40px;
      }

      @include mixins.mobile {
        padding: 30px 30px 20px 30px;
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      margin-left: -20px;
      padding: 7px 20px;
      border: none;
      border-radius: 50px;
      background-color: transparent;
      cursor: pointer;
      letter-spacing: -1px;
      @include mixins.customHoverMixin(width, 0.3s);
      @include mixins.customHoverMixin(background-color, 0.3s);

      @include mixins.hover {
        background-color: colors.$green400;

        &:active {
          background-color: colors.$orange200;
        }
      }

      &-content {
        color: colors.$white;
        @include mixins.p-big;

        @include mixins.mobile {
          @include mixins.p-big-mobile;
        }
      }
    }
  }

  &__card-list-wrapper {
    padding-left: 30px;

    @include mixins.mobile {
      padding-left: 25px;
    }
  }

  &__card-list {
    list-style-type: disc;
    color: colors.$white;
    @include mixins.p-normal;

    @include mixins.mobile {
      @include mixins.p-normal-mobile;
    }
  }

  &__links {
    gap: 35px;
    @include mixins.flex-center-between;

    @include mixins.middle {
      display: none;
    }
  }

  &__link-item {
    position: relative;
    text-decoration: none;
    color: colors.$white;
    @include mixins.p-normal;

    &:after {
      position: absolute;
      bottom: -2px;
      left: 0;
      display: block;
      width: 0;
      height: 2px;
      content: '';
      background-color: colors.$white;
      @include mixins.customHoverMixin(width);
    }

    @include mixins.hover {
      &:after {
        width: 100%;
      }

      &:active {
        color: colors.$orange200;

        &:after {
          width: 100%;
          background-color: colors.$orange200;
        }
      }
    }
  }
}

.mail {
  padding: 135px 0;

  @include mixins.middle {
    padding: 75px 0;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__centered-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;

    @include mixins.middle {
      flex-wrap: wrap;
      justify-content: center;
    }

    @include mixins.mobile {
      gap: 35px;
    }
  }

  &__image {
    max-width: 370px;
    max-height: 370px;
    border-radius: 50px;

    @include mixins.middle {
      width: 100%;
      max-width: 270px;
      height: auto;
      max-height: none;
    }

    @include mixins.mobile {
      max-width: 130px;
      max-height: 133px;
      border-radius: 20px;
    }
  }

  &__text-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 371px;

    @include mixins.middle {
      text-align: center;
    }

    @include mixins.mobile {
      max-width: 292px;
      text-align: center;
    }
  }

  &__title {
    @include mixins.h3-pc;

    @include mixins.middle {
      @include mixins.fluid-clamp(font-size, 23px, 35px);
    }

    @include mixins.mobile {
      letter-spacing: 0.8px;
      @include mixins.h3-mobile;
    }
  }

  &__subtitle {
    color: colors.$gray300;
    @include mixins.p-normal;

    @include mixins.middle {
      @include mixins.fluid-clamp(font-size, 16px, 20px);
    }

    > a {
      position: relative;
      display: inline-block;
      text-decoration: none;
      color: colors.$black;
      @include mixins.p-normal;

      @include mixins.mobile {
        @include mixins.p-normal-mobile;
      }

      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        content: '';
        background-color: colors.$black;
        @include mixins.customHoverMixin(width, 0.3s);
        @include mixins.customHoverMixin(background-color, 0.3s);
      }

      &:hover:after {
        width: 100%;
      }
    }
  }
}

.footer {
  background-color: colors.$beige200;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 21px;

    @include mixins.tablet {
      padding: 30px 53px;
    }

    @include mixins.middle {
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 7px;
      padding: 30px 10px;
    }

    @include mixins.mobile {
      padding: 20px 10px;
    }
  }

  &__link-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

    @include mixins.middle {
      gap: 15px;
    }
  }

  &__link-item {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: inherit;
    @include mixins.p-normal;

    @include mixins.middle {
      gap: 5px;
    }

    span {
      position: relative;

      @include mixins.middle {
        @include mixins.fluid-clamp(font-size, 16px, 20px);
      }

      @include mixins.mobile {
        color: colors.$black;
        @include mixins.p-normal-mobile;
      }

      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        content: '';
        background-color: colors.$black;
        @include mixins.customHoverMixin(width, 0.3s);
        @include mixins.customHoverMixin(background-color, 0.3s);
      }

      &:hover:after {
        width: 100%;
      }
    }

    &:active span:after {
      background-color: colors.$orange200;
    }
  }

  &__link-logo {
    width: 26px;
    height: 26px;

    @include mixins.middle {
      width: 22px;
      height: 26px;
    }
  }

  &__text {
    color: colors.$gray300;
    @include mixins.p-normal;

    @include mixins.middle {
      @include mixins.fluid-clamp(font-size, 16px, 20px);
    }

    @include mixins.mobile {
      color: colors.$gray300;
      @include mixins.p-normal-mobile;
    }
  }
}

@keyframes headerShow {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes headerHide {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
